folium==0.17.0
geopandas==0.9.0
gradio==4.37.1
h5py==3.11.0
matplotlib==3.9.0
numpy==2.0.0
pandas==2.2.2
pypistats==1.6.0
python_dateutil==2.9.0.post0
streamlit==1.36.0
streamlit_folium==0.21.0
xarray==2024.5.0
